//! **************************************************************************
// Written by: Map P.20131013 on Thu Jan 05 13:34:15 2023
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "q<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "q<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "q<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "a" LOCATE = SITE "C17" LEVEL 1;
COMP "b" LOCATE = SITE "C18" LEVEL 1;
SCHEMATIC END;

