//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 04 11:54:00 2023
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "q" LOCATE = SITE "P15" LEVEL 1;
COMP "reset" LOCATE = SITE "C18" LEVEL 1;
COMP "d" LOCATE = SITE "C17" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

