//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 04 13:40:46 2023
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "i<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "i<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "i<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "i<3>" LOCATE = SITE "D18" LEVEL 1;
COMP "out<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "out<1>" LOCATE = SITE "P16" LEVEL 1;
COMP "out<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "out<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "out<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "out<5>" LOCATE = SITE "U18" LEVEL 1;
COMP "out<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "out<7>" LOCATE = SITE "T18" LEVEL 1;
SCHEMATIC END;

