//! **************************************************************************
// Written by: Map P.20131013 on Thu Jan 05 10:35:22 2023
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "reset" LOCATE = SITE "C17" LEVEL 1;
COMP "q<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "q<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "q<2>" LOCATE = SITE "P16" LEVEL 1;
COMP "q<3>" LOCATE = SITE "P15" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

